<!-- 
    @author: UDAY SONI
    Created on: July 29, 2023
    Note: Design for create a profile Page. 
-->
<h1> PROFILE PAGE </h1>
<div class="card flex justify-content-center">
  <p-fieldset legend="User Profile">
    <p class="m-0">
      <p-card class="profile-card">
        <div class="loading-container" *ngIf="loading">
          <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>

        <ng-container *ngIf="!user.image_filename">
          <input type="file" name="image" (change)="onFileSelected($event)">
          <p-button type="submit" label="Upload Image" (click)="uploadImage()"></p-button>
        </ng-container>
        <ng-container>
          <!-- <ng-container *ngIf="user.image_filename">
          <img alt="User Photo" width="100" [src]="user.image_filename"></ng-container> -->

          <p-button type="button" class="update" label="Update Profile" *ngIf="user && user.image_filename"
            (click)="updateProfile()"></p-button>
          <p-button type="button" label="Delete Profile" *ngIf="user && user.image_filename"
            (click)="deleteProfile()"></p-button>
        </ng-container>

        <ng-container *ngIf="user">
          <p>Name: {{ user.name }}</p>
          <p>Email: {{ user.email }}</p>
          <p>Country: {{ user.country }}</p>
          <p>State: {{ user.state }}</p>
        </ng-container>
        <ng-container *ngIf="!user">
          <p>No User selected.</p>
        </ng-container>
      </p-card>
    </p>
  </p-fieldset>
</div>