.profile-card {
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  img {
    display: block;
    margin: 0 auto 16px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 4 4px 4px rgba(0, 0, 0, 0.1);
  }

  p {
    margin: 8px 4px;
  }
  .name-description {
    text-align: center;
    text-transform: capitalize;

    .name {
      font-size: 18px;
      font-weight: bold;
    }

    .description {
      font-size: 14px;
    }
  }
}
