<!-- 
    @author: UDAY SONI
    Created on: July 13, 2023
    Note: Design for create a reset Page. 
-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Reset Password</div>
        <p-toast [baseZIndex]="10000" [style]="{ marginTop: '100px' }"></p-toast>
        <div class="card-body">
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <input type="hidden" name="token" [value]="token">

            <div class="row mb-3  spacing-10">
              <label for="password" class="col-md-4 col-form-label text-md-end">New Password*</label>
              <div class="col-md-6">
                <input id="password" type="password" class="form-control" formControlName="password" required>
                <div
                  *ngIf="resetForm.get('password')?.invalid && (resetForm.get('password')?.touched || resetForm.get('password')?.touched)"
                  class="invalid-feedback">
                  <strong>Password is required.</strong>
                </div>
              </div>
            </div>

            <div class="row mb-3  spacing-10">
              <label for="confirmPassword" class="col-md-4 col-form-label text-md-end">Confirm Password*</label>
              <div class="col-md-6">
                <input id="confirmPassword" type="password" pPassword class="form-control"
                  formControlName="confirmPassword" required>
                <div
                  *ngIf="resetForm.get('password')?.invalid && (resetForm.get('password')?.touched || resetForm.get('password')?.touched)"
                  class="invalid-feedback">
                  <strong>Password is required.</strong>
                </div>
                <div
                  *ngIf="resetForm.hasError('passwordMismatch') && (resetForm.get('password')?.touched || resetForm.get('password')?.touched)"
                  class="invalid-feedback">
                  <strong>Passwords do not match.</strong>
                </div>
              </div>
            </div>

            <div class="row mb-0  spacing-10">
              <div class="col-md-6 offset-md-4">
                <p-button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">
                  Reset Password
                </p-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>