.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  .row.spacing-10 {
    margin-bottom: 15px;
  }
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.card-header {
  background-color: #f5f5f5;
  padding: 10px;
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  width: 100%;
}

.invalid-feedback {
  color: #dc3545;
  margin-top: 5px;
}
.button {
  margin-top: 10px;
}
.backtologin {
  margin-left: 5px;
}
