<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <input type="hidden" name="token" [value]="token">
            
            <div class="row mb-3">
              <label for="email" class="col-md-4 col-form-label text-md-end">E-mail Address</label>
              <div class="col-md-6">
                <input id="email" type="email" class="form-control" formControlName="email" required>
                <div *ngIf="resetForm.get('email')?.invalid && (resetForm.get('email')?.dirty || resetForm.get('email')?.touched)" class="invalid-feedback">
                  <strong>Email address is required and should be valid.</strong>
                </div>
              </div>
            </div>
            
            <div class="row mb-3">
              <label for="password" class="col-md-4 col-form-label text-md-end">New Password</label>
              <div class="col-md-6">
                <input id="password" type="password" class="form-control" formControlName="password" required>
                <div *ngIf="resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)" class="invalid-feedback">
                  <strong>Password is required.</strong>
                </div>
              </div>
            </div>
            
            <div class="row mb-3">
              <label for="password-confirm" class="col-md-4 col-form-label text-md-end">Confirm New Password</label>
              <div class="col-md-6">
                <input id="password-confirm" type="password" class="form-control" formControlName="passwordConfirmation" required>
              </div>
            </div>
            
            <div class="row mb-0">
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">
                  Reset Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
