.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  background-color: #f4f4f4;
}

.task-form {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      mat-select {
        width: 100%;

        mat-option {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        min-width: 100px;
      }

      .pbutton {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }

      .pbutton p-button {
        margin: 0 10px;
      }

      .cancel-button {
        margin-left: 50px;
      }

      .submit-button {
        margin-left: 150px;
      }

      input,
      textarea {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        font-size: 1rem;
        box-sizing: border-box;
      }

      .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        width: 100%;
      }

      mat-form-field {
        width: 100%;

        mat-label {
          font-weight: bold;
        }

        mat-select {
          width: 100%;
        }
      }

      input[type="date"],
      p-calendar {
        width: 100%;
      }

      .btn {
        align-self: flex-end;
        margin-top: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: blue;
        color: white;
        cursor: pointer;
        width: 100%;

        &:hover {
          background-color: darkblue;
        }
      }
    }
  }
}
