<!-- 
    @author: UDAY SONI
    Created on: July 13, 2023
    Note: Design for edit task Page. 
-->
<h2>Edit Task</h2>
<p-toast [baseZIndex]="10000" [style]="{ marginTop: '100px' }"></p-toast>
<div class="loading-container" *ngIf="loading">
  <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</div>
<form class="task-form" (ngSubmit)="onUpdate()" [formGroup]="taskForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" pInputText formControlName="name" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" name="description" pInputTextarea formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label for="start_date">Start Date</label>
    <input type="date" id="start_date" name="start_date" pCalendar formControlName="start_date" required>
  </div>

  <div class="form-group">
    <label for="end_date">End Date</label>
    <input type="date" id="end_date" name="end_date" pCalendar formControlName="end_date" required>
  </div>

  <div class="form-group">
    <label for="project_id">Project ID</label>
    <input type="text" id="project_id" name="project_id" formControlName="project_id" required>
  </div>
  
  <p-button type="submit" [disabled]="!taskForm.valid" class="btn btn-primary btn-block btn-lg">Update Task</p-button>
</form>