<h2>Register Form</h2>

<form (ngSubmit)="createProject()" [formGroup]="projectForm">
  <div>
    <label for="name">Name: </label>
    <input type="text" id="name" formControlName="name" required>
  </div>
  <div>
    <label for="description">Description: </label>
    <input type="text" id="description" formControlName="description" required>
  </div>
  <div>
    <label for="start_date">Start Date: </label>
    <input type="date" id="start_date" formControlName="start_date" required>
  </div>
  <div>
    <label for="end_date">End Date: </label>
    <input type="date" id="end_date" formControlName="end_date" required>
  </div>
  <div>
    <label for="status">Status: </label>
    <input type="text" id="status" formControlName="status" required>
  </div>
  <button type="submit">Create Project</button>
</form>
