.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  background-color: #f4f4f4;
  width: 100%;
}

.registration-box {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right:130;

    div {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      margin-right:130;

      label {
        min-width: 100px; /* Set a minimum width for the labels */
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
        white-space: normal;
      }

      .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        width: 100%;
      }

      input,
      textarea {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        box-sizing: border-box;
        width: 100%; /* Set the width to 100% for the input and textarea */
        max-width: 400px; /* Set a maximum width for the input and textarea */
      }
    }
  }
}
