<div  style="background-image: url('assets/images/b.jpg');">
  <h2>Task Registration Form</h2>
<form [formGroup]="taskForm" (ngSubmit)="registerTask()" >
  <div class="form-group">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" formControlName="name" required>
    </div>

    <div>
      <label for="description">Description</label>
      <textarea id="description" name="description" formControlName="description"></textarea>
    </div>

    <div>
      <label for="start_date">Start Date</label>
      <input type="date" id="start_date" name="start_date" formControlName="start_date" required>
    </div>

    <div>
      <label for="end_date">End Date</label>
      <input type="date" id="end_date" name="end_date" formControlName="end_date" required>
    </div>

    <div>
      <label>Is Completed</label>
      <input type="checkbox" formControlName="is_completed">
    </div>
    
    <div>
      <label for="project_id">Project ID</label>
      <input type="text" id="project_id" name="project_id" formControlName="project_id" required>
    </div>
  </div>

  <button type="submit" [disabled]="taskForm.invalid">Register Task</button>
</form>
</div>
