.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  background-color: #f4f4f4;
}

.pbutton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pbutton p-button {
  margin: 0 10px;
}

.cancel-button {
  margin-left: 50px;
}

.submit-button {
  margin-left: 150px;
  margin-right: 10px;
}

.task-Create-box {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    .form-group {
      margin-bottom: 20px;

      .loading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
      }

      div {
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
          min-width: 100px;
        }

        .pbutton {
          display: flex;
          justify-content: center;
          margin-top: 20px;
        }

        .pbutton p-button {
          margin: 0 10px;
        }

        .cancel-button {
          margin-left: 50px;
        }

        .submit-button {
          margin-left: 150px;
          margin-right: 10px;
        }

        input,
        textarea {
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 5px;
          width: 100%;
        }

        .error-message {
          color: red;
          font-size: 14px;
          margin-top: 5px;
          white-space: normal;
        }

        .input-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 5px;
          width: 100%;
        }

        mat-form-field {
          width: 100%;

          mat-label {
            margin-bottom: 5px;
            font-weight: bold;
          }

          mat-select {
            width: 100%;
          }
        }
      }
    }
  }
}
