<!-- 
    @author: UDAY SONI
    Created on: July 13, 2023
    Note: Design for create task Page. 
-->
<div class="container">
  <div class="task-Create-box">
    <h1>Task Create Form</h1>
    <p-toast [baseZIndex]="10000" [style]="{ marginTop: '100px' }"></p-toast>
    <div class="loading-container" *ngIf="loading">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
    <form [formGroup]="taskForm" (ngSubmit)="createtask()">
      <div class="form-group">
        <div>
          <label for="name">* Name </label>
          <div class="input-container">
            <input type="text" id="name" name="name" formControlName="name" pInputText required>
            <div *ngIf="taskForm.controls['name'].invalid && taskForm.controls['name'].touched" class="error-message">
              The name field is required.
            </div>
          </div>
        </div>

        <div>
          <label for="description">Description </label>
          <textarea id="description" name="description" formControlName="description" pInputTextarea></textarea>
        </div>

        <div>
          <label for="Project">* Project </label>
          <div class="input-container">
            <mat-form-field>
              <mat-label>Project</mat-label>
              <mat-select formControlName="project_id" required (selectionChange)="onProjectSelect($event)">
                <mat-option *ngFor="let project of projectOptions" [value]="project.value">
                  {{ project.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="taskForm.controls['project_id'].invalid && taskForm.controls['project_id'].touched"
              class="error-message">
              The projectname field is required.
            </div>
          </div>
        </div>

        <div *ngIf="taskForm.get('project_id')?.value">
          <label for="start_date">* Start Date </label>
          <div class="input-container">
            <input type="date" id="start_date" name="start_date" formControlName="start_date"
              [min]="selectedProjectStartDate" [max]="selectedProjectEndDate" required>
            <div *ngIf="taskForm.controls['start_date'].invalid && taskForm.controls['start_date'].touched"
              class="error-message">
              The start date field is required.
            </div>
          </div>
        </div>


        <div *ngIf="taskForm.get('project_id')?.value">
          <label for="end_date">* End Date </label>
          <div class="input-container">
            <input type="date" id="end_date" name="end_date" formControlName="end_date" [min]="selectedProjectStartDate"
              [max]="selectedProjectEndDate" required>
            <div *ngIf="taskForm.controls['end_date'].invalid && taskForm.controls['end_date'].touched"
              class="error-message">
              The end date field is required.
            </div>
          </div>
        </div>

        <div>
          <label for="User">* User </label>
          <div class="input-container">
            <mat-form-field>
              <mat-label>User</mat-label>
              <mat-select formControlName="user_id" required multiple>
                <mat-option *ngFor="let user of users" [value]="user.value">
                  {{ user.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="taskForm.controls['user_id'].invalid && taskForm.controls['user_id'].touched"
              class="error-message">
              The username field is required.
            </div>
          </div>
        </div>
      </div>
      <div class="pbutton">
        <p-button class="submit-button" type="submit" [disabled]="taskForm.invalid">Register Task</p-button>
        <p-button class="cancel-button" label="Cancel" (click)="cancel()"></p-button>
      </div>
    </form>
  </div>
</div>