<!-- 
    @author: UDAY SONI
    Created on: July 24, 2023
    Note: Design for edit projecttable Page. 
-->
<h2>Project Edit Form</h2>
<p-toast [baseZIndex]="10000" [style]="{ marginTop: '100px' }"></p-toast>
<div class="loading-container" *ngIf="loading">
  <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</div>
<form [formGroup]="projectForm" (ngSubmit)="saveChanges()">
  <div class="form-group">
    <label for="name">Name: </label>
    <input type="text" id="name" formControlName="name" pInputText />
  </div>

  <div>
    <label for="description">Description: </label>
    <input type="description" id="description" formControlName="description" pInputText />
  </div>

  <div>
    <label for="start_date">Start Date: </label>
    <input type="date" id="start_date" formControlName="start_date" name="start_date" pCalendar required />
  </div>

  <div>
    <label for="end_date">End Date: </label>
    <input type="date" id="end_date" formControlName="end_date" name="end_date" pCalendar required />
  </div>

  <p-button type="submit" label="Save Changes"></p-button>
</form>