<div  style="background-image: url('assets/images/b.jpg');">
<h2>Project Edit Form</h2>

<form [formGroup]="projectForm" (ngSubmit)="saveChanges()">
  <div class="form-group">
    <label for="name">Name: </label>
    <input type="text" id="name" formControlName="name" pInputText />
  </div>

  <div>
    <label for="description">Description: </label>
    <input type="description" id="description" formControlName="description" pInputText />
  </div>

  <div>
    <label for="start_date">Start Date: </label>
    <input type="date" id="start_date" formControlName="start_date" name="start_date" pCalendar required />
  </div>

  <div>
    <label for="end_date">End Date: </label>
    <input type="date" id="end_date" formControlName="end_date" name="end_date" pCalendar required />
  </div>

  <div>
    <label for="status">Status: </label>
    <input type="text" id="status" formControlName="status" pInputText />
  </div>

  <p-button type="submit"  label="Save Changes"></p-button>
</form>
</div>