<!-- 
    @author: UDAY SONI
    Created on: July 18, 2023
    Note: Design for projecttable view Page. 
-->
<div *ngIf="!projects; else projectList">
  <div class="horizontal-loader"></div>
</div>

<ng-template #projectList pTemplate="body" let-project>
  <div class="loading-container" *ngIf="loading">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
  </div>
  <h1> PROJECT TABLE </h1>

  <p-toast [baseZIndex]="10000" [style]="{ marginTop: '100px' }"></p-toast>

  <div class="container">
    <p-button routerLink="/register-project" class="btn btn-primary">+Create New</p-button>
    <p-button routerLink="/soft-deleted" class="btn btn-warning">Restore</p-button>
  </div>

  <div class="search-container">
    <label class="label" for="search">SEARCH<span class="required-indicator"></span>:</label>
    <span class="p-inputgroup-addon">
      <i class="pi pi-search-plus" style="font-stretch: expanded;"></i>
      <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search...">
    </span>
  </div>

  <div *ngIf="!projects" class="horizontal-loader"></div>
  <div *ngIf="projects">

    <mat-paginator #paginator [length]="table.totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page" (page)="onPageChange($event)"></mat-paginator>

    <div class="loading-container" *ngIf="loading">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
    <p-table #table [value]="projects" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" (click)="onSortChange('id', 'asc')">ID<p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="name" (click)="onSortChange('name', 'asc')">NAME<p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="description" (click)="onSortChange('description', 'asc')">DESCRIPTION<p-sortIcon
              field="description"></p-sortIcon></th>
          <th pSortableColumn="start_date" (click)="onSortChange('start_date', 'asc')">START DATE<p-sortIcon
              field="start_date"></p-sortIcon></th>
          <th pSortableColumn="end_date" (click)="onSortChange('end_date', 'asc')">END DATE<p-sortIcon
              field="end_date"></p-sortIcon></th>
          <th>SOFT DELETE</th>
          <th>EDIT</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-project>
        <tr>
          <td>{{ project.id }}</td>
          <td>{{ project.name }}</td>
          <td>{{ displayNA(project.description) }}</td>
          <td>{{ project.start_date }}</td>
          <td>{{ project.end_date }}</td>
          <td>
            <p-button (click)="softDeleteProject(project.id)" class="btn btn-primary">Delete</p-button>
          </td>
          <td>
            <p-button [routerLink]="['/project-edit', project.id]" class="btn btn-primary">Edit Project</p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>