<!-- 
    @author: UDAY SONI
    Created on: July 13, 2023
    Note: Design for create a email sent Page. 
-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Forgot Password</div>
        <div class="card-body">
          <form [formGroup]="emailForm" (ngSubmit)="sendResetLink()">
            <div class="row mb-3 spacing-10" *ngIf="!isRequestSent">
              <label for="email" class="col-md-4 col-form-label text-md-end">Email Address</label>
              <div class="col-md-6">
                <input id="email" type="email" class="form-control" formControlName="email" required>
                <div
                  *ngIf="emailForm.get('email')?.invalid && (emailForm.get('email')?.dirty || emailForm.get('email')?.touched)"
                  class="invalid-feedback">
                  <strong>Email is required.</strong>
                </div>
              </div>
            </div>
            <div class="row mb-0 spacing-10">
              <div class="col-md-6 offset-md-4">
                <p-button type="submit" class="btn btn-primary" [disabled]="emailForm.invalid">
                  Send Password Reset Link
                </p-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
