<p-card header="Project Details">
    <div class="p-grid">
      <div class="p-col-6">Name:</div>
      <div class="p-col-6">{{ project.name }}</div>
  
      <div class="p-col-6">Description:</div>
      <div class="p-col-6">{{ project.description }}</div>
  
      <div class="p-col-6">Start Date:</div>
      <div class="p-col-6">{{ project.start_date }}</div>
  
      <div class="p-col-6">End Date:</div>
      <div class="p-col-6">{{ project.end_date }}</div>
  
      <div class="p-col-6">Status:</div>
      <div class="p-col-6">{{ project.status }}</div>
    </div>
  </p-card>