<!-- 
    @author: UDAY SONI
    Created on: July 24, 2023
    Note: Design for create a User Table. 
-->
<div *ngIf="!users; else userList">
</div>

<ng-template #userList>
  <div class="loading-container" *ngIf="loading">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
  </div>
  <h2>USERS LIST</h2>

  <div class="search-container">
    <label class="label" for="search">SEARCH<span class="required-indicator"></span>:</label>
    <span class="p-inputgroup-addon">
      <i class="pi pi-search-plus" style="font-weight: 1000;"></i>
      <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search...">
    </span>
  </div>

  <div *ngIf="!users" class="horizontal-loader"></div>
  <div *ngIf="users">

    <div class="loading-container" *ngIf="loading">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>

    <p-table #table [value]="users" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
          <th>NAME</th>
          <th>EMAIL</th>
          <!-- <th>Email_Verified_AT</th> -->
          <th>COUNTRY</th>
          <th>STATE</th>
          <th>IS_VERIFY</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <!-- <td>{{ displayNA(user.email_verified_at) }}</td> -->
          <td>{{ displayNA(user.country) }}</td>
          <td>{{ displayNA(user.state) }}</td>
          <td>{{ user.is_verified }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>