<div class="card flex justify-content-center">
  <p-button (click)="showDialog()" icon="pi pi-external-link" label="Add User"></p-button>
  <p-dialog header="Header" [(visible)]="visible" [style]="{ width: '50vw' }">
    <p-table [value]="user">
      <ng-template pTemplate="header">
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Is_Verify</th>
          <th>Select</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <!-- Use the isDeveloper() method in the *ngIf directive -->
        <tr *ngIf="isDeveloper(user)">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.isverify }}</td>
          <td>
            <input type="checkbox" [(ngModel)]="user.isChecked">
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-button type="submit" class="submit-button" (click)="onSubmit()">Submit</p-button>
  </p-dialog>
</div>

<!-- Display checkedusers -->
<div *ngIf="checkeusers.length > 0">
  <h2>Add Users</h2>
  <p-table [value]="checkeusers">
    <ng-template pTemplate="header">
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>State</th>
        <th>Is_Verify</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <!-- Use the isDeveloper() method in the *ngIf directive -->
      <tr *ngIf="isDeveloper(user)">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.country }}</td>
        <td>{{ user.state }}</td>
        <td>{{ user.isverify }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
  