<!-- 
    @author: UDAY SONI
    Created on: July 24, 2023
    Note: Design for tasktable view Page. 
-->
<div *ngIf="!tasks; else taskList">
</div>

<ng-template #taskList>
  <div class="loading-container" *ngIf="loading">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
  </div>
  <h1> TASKS TABLE</h1>

  <p-toast [baseZIndex]="10000" [style]="{ marginTop: '100px' }"></p-toast>

  <div class="container">
    <p-button routerLink="/task-Create" class="btn btn-primary">+Create New</p-button>
  </div>

  <div class="search-container">
    <label class="label" for="search">SEARCH<span class="required-indicator"></span>:</label>
    <span class="p-inputgroup-addon">
      <i class="pi pi-search-plus" style="font-weight: 1000;"></i>
      <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search...">
    </span>
  </div>

  <div *ngIf="!tasks" class="horizontal-loader"></div>
  <div *ngIf="tasks">
    <!-- <div class="card flex flex-column gap-3">
      <div class="flex align-items-center justify-content-end">
        <span class="mx-1 text-color">Items per page: </span>
        <div class="inline-components">
          <p-dropdown [options]="options" optionLabel="label" optionValue="value" [(ngModel)]="rows2"
            (ngModelChange)="first2 = 0"></p-dropdown>
          <p-paginator [first]="first2" [rows]="rows2" [totalRecords]="120" (onPageChange)="onPageChange2($event)"
            [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} of {totalRecords}"
            [showPageLinks]="false" [showFirstLastIcon]="false"></p-paginator>
        </div>
      </div>
    </div> -->
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
    <div class="loading-container" *ngIf="loading">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
    <p-table #table [value]="tasks" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5">
    <!-- <p-table #table [value]="tasks" [tableStyle]="{ 'min-width': '50rem' }"> -->
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="NAME">NAME<p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="DESCRIPTION">DESCRIPTION<p-sortIcon field="description"></p-sortIcon></th>
          <th pSortableColumn="START DATE">START DATE<p-sortIcon field="start_date"></p-sortIcon></th>
          <th pSortableColumn="END DATE">END DATE<p-sortIcon field="end_date"></p-sortIcon></th>
          <th pSortableColumn="PROJECT NAME">PROJECT NAME<p-sortIcon field="project_id"></p-sortIcon></th>
          <th>HARD DELETE</th>
          <th>EDIT</th>
          <th>PDF</th>
          <th>STATUS</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.start_date }}</td>
          <td>{{ task.end_date }}</td>
          <td>
            <ng-container *ngIf="isAdminOrProjectManager(); else projectName">
              {{ task.project_id }}
            </ng-container>
            <ng-template #projectName>
              {{ task.projectName }}
            </ng-template>
          </td>
          <td>
            <p-button (click)="deleteTask(task.id)" class="btn btn-primary">Delete</p-button>
          </td>
          <td>
            <p-button [routerLink]="['/task-edit', task.id]" class="btn btn-primary">Edit Task</p-button>
          </td>
          <td>
            <p-button (click)="generatePDF(task.id)" class="btn btn-primary">Generate PDF</p-button>
          </td>
          <td>
            <div>
              <mat-form-field>
                <mat-label>Pending</mat-label>
                <mat-select [(ngModel)]="task.status" name="status"
                  (selectionChange)="updateTaskStatus(task, $event.value)">
                  <mat-option *ngFor="let option of Status" [value]="option.name">{{ option.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>