<div *ngIf="!tasks; else taskList">
</div>

<ng-template #taskList>
  <h2>TASKS LIST</h2>

  <p-toast [baseZIndex]="10000" [style]="{ marginTop: '100px' }"></p-toast>

  <div class="container">
    <p-button routerLink="/task-Create" class="btn btn-primary">+Create New</p-button>
  </div>

  <div class="search-container">
    <label class="label" for="search">SEARCH<span class="required-indicator"></span>:</label>
    <span class="p-inputgroup-addon">
      <i class="pi pi-search-plus" style="font-weight: 1000;"></i>
      <!-- <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()"> -->
      <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search...">
    </span>
  </div>

  <div *ngIf="!tasks" class="horizontal-loader"></div>
  <div *ngIf="tasks">

    <p-table #table [value]="tasks" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
          <th>NAME</th>
          <th>DESCRIPTION</th>
          <th>START DATE</th>
          <th>END DATE</th>
          <th>IS COMPLETED</th>
          <th>HARD DELETE</th>
          <th>EDIT</th>
          <th>ProjectId</th>
          <th>UserId</th>
          <th>PDF</th>
          <th>status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.start_date }}</td>
          <td>{{ task.end_date }}</td>
          <td>{{ task.is_completed ? 'Yes' : 'No' }}</td>
          <td>
            <p-button (click)="deleteTask(task.id)" class="btn btn-primary">Delete</p-button>
          </td>          
          <td>
            <p-button [routerLink]="['/task-edit', task.id]" class="btn btn-primary">Edit Task</p-button>
          </td>
          <td>{{ task.project_id}}</td>
          <td>{{ task.user_id }}</td>
          <td>
            <p-button (click)="generatePDF(task.id)" class="btn btn-primary">Generate PDF</p-button>
          </td>
        <td>
          <div class="card flex justify-content-center">
            <p-dropdown [options]="Status" [(ngModel)]="task.status" optionLabel="name"></p-dropdown>
          </div>          
        </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>
