<!-- 
    @author: UDAY SONI
    Created on: July 14, 2023
    Note: Design for create a Registration Form. 
-->
<div class="container">
  <div class="registration-box">
    <h1>Registration Form</h1>
    <p-toast [baseZIndex]="10000" [style]="{ marginTop: '100px' }"></p-toast>

    <form [formGroup]="registrationForm" (ngSubmit)="register()">
      <div class="form-group">
        <div>
          <label for="name">Name: </label>
          <input type="text" id="name" formControlName="name" pInputText required [(ngModel)]="user.name" />
        </div>

        <div>
          <label for="email">Email: </label>
          <input type="email" id="email" formControlName="email" pInputText required [(ngModel)]="user.email" />
        </div>

        <div>
          <label for="password">Password: </label>
          <input type="password" id="password" formControlName="password" pInputText required [(ngModel)]="user.password" />
        </div>

        <div>
          <label for="password_confirmation">Confirm Password: </label>
          <input type="password" id="password_confirmation" formControlName="password_confirmation" pInputText required
            [(ngModel)]="user.password_confirmation" />
        </div>

        <!-- <div>
    <label for="country">Country:</label>
    <select id="country" [(ngModel)]="selectedCountryCode" (change)="fetchStates()">
      <option *ngFor="let country of countries" [value]="country.alpha2Code">{{ country.name }}</option>
    </select>
  </div>
  
  <div *ngIf="states.length > 0">
    <label for="state">State:</label>
    <select id="state" [(ngModel)]="selectedStateCode"> 
      <option *ngFor="let state of states" [value]="state.alpha2Code">{{ state.name }}</option>
    </select>
  </div> -->

        <div>
          <label for="country">Country: </label>
          <input type="text" id="country" formControlName="country" pInputText required [(ngModel)]="user.country" />
        </div>

        <div>
          <label for="state">State: </label>
          <input type="text" id="state" formControlName="state" pInputText required [(ngModel)]="user.state" />
        </div>

      </div>
      <p-button type="submit" [disabled]="registrationForm.invalid">Register</p-button>
    </form>
  </div>
</div>