.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  background-color: #f4f4f4;
}
.backtologin {
  margin-left: 5px;
}

.registration-box {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 700px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .card-header {
    background-color: #f5f5f5;
    padding: 10px;
    font-weight: bold;
  }
  .card-body {
    padding: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 55%;
    max-width: 800px;
    margin: 0 auto;

    .form-group {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        align-items: center;

        label {
          min-width: 80px;
          margin-right: 10px;
          font-weight: bold;
        }
        .error-message {
          color: red;
          font-size: 14px;
          margin-top: 5px;
          white-space: normal;
        }

        .input-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 5px;
          width: 100%;
        }

        #country {
          display: flex;
          flex-direction: column;
          margin-bottom: 5px;
          width: 100%;
          background-color: white;
        }

        #state {
          display: flex;
          flex-direction: column;
          margin-bottom: 5px;
          width: 100%;
          background-color: white;
        }

        input {
          flex: 1;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 5px;
          width: 100%;
        }
      }
    }
  }
}
