<h1>Registration Form</h1>
<form [formGroup]="registrationForm" (ngSubmit)="register()" >
  <div class="form-group">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" required [(ngModel)]="user.name"/>
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email"  required [(ngModel)]="user.email" />
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password"  required [(ngModel)]="user.password"/>
  </div>

  <div>
    <label for="password_confirmation">Confirm Password:</label>
    <input type="password" id="password_confirmation" formControlName="password_confirmation"  required [(ngModel)]="user.password_confirmation"/>
  </div>
  
  <div>
    <label for="country">Country:</label>
    <input type="text" id="country" formControlName="country"  required [(ngModel)]="user.country"/>
  </div>

  <div>
    <label for="state">State:</label>
    <input type="text" id="state" formControlName="state"  required [(ngModel)]="user.state"/>
  </div>
  </div>
  <!-- @role('developer') -->
  <button type="submit" [disabled]="registrationForm.invalid">Register</button>
  <!-- @endrole -->
</form>
