<h1>Login Page</h1>

<form [formGroup]="loginForm" (ngSubmit)="login()">
  <!-- <p-toast [baseZIndex]="10000" [position]="'top-center'" *ngIf="error">
    <ng-template let-message pTemplate="message">
      <div class="p-toast-message p-toast-error">
        {{ message.text }}
      </div>
    </ng-template>
  </p-toast> -->
  
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email"  [(ngModel)]="users.email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" [(ngModel)]="users.password" required>
  </div>

  <div>
    <label for="Login_As">Login_As</label>
    <input type="Login_As" id="Login_As" formControlName="Login_As" [(ngModel)]="users.Login_As" required>
  </div>
  <!-- <div (ngSubmit)="forgotPassword()">
    <input type="email" name="email" [(ngModel)]="user.email" required> -->
    <a href="/email" (click)="forgotPassword()">Forgot Password?</a>
  <!-- </div> -->

  <div>
    <p>Don't have an account? <a (click)="navigateToRegistration()" class="register-link">Register here</a></p>
  </div>

  <button type="submit">Login</button>
</form>
