<!-- 
    @author: UDAY SONI
    Created on: July 13, 2023
    Note: Design for create a Login Page. 
-->
<div class="container">
  <div class="login-box">
    <h1>Login Page</h1>
    <p-toast [baseZIndex]="10000" [style]="{ marginTop: '100px' }"></p-toast>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <label for="email">EMAIL: </label>
        <input type="email" id="email" formControlName="email" pInputText [(ngModel)]="users.email" required>
      </div>
      <div>
        <label for="password">PASSWORD: </label>
        <input type="password" id="password" formControlName="password" pInputText [(ngModel)]="users.password" required>
      </div>

      <!-- <div class="forgot-password-link"> 
        <input type="email" name="email" [(ngModel)]="user.email" required> -->
        <a href="/email" (click)="forgotPassword()">Forgot Password?</a>
      <!-- </div> -->

      <div class="register-link">
        <p>Don't have an account? <a (click)="navigateToRegistration()" class="register-link">Register here</a></p>
      </div>

      <p-button type="submit" [disabled]="loginForm.invalid">Login</p-button>
    </form>
  </div>
</div>