<!-- 
    @author: UDAY SONI
    Created on: July 13, 2023
    Note: Design for create a Login Page. 
-->
<div class="container">
  <div class="login-box">
    <div class="card-header">Login Page</div>
    <p-toast [baseZIndex]="10000" [style]="{ marginTop: '100px' }"></p-toast>
    <div class="loading-container" *ngIf="loading">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <label for="email">EMAIL: </label>
          <div class="input-container">
            <input type="email" id="email" formControlName="email" pInputText class="input-error">
            <div *ngIf="
        loginForm.controls['email'].invalid && loginForm.controls['email'].touched
      " class="error-message">
              The email field is required.
            </div>
          </div>
        </div>
        <div>
          <label for="password">PASSWORD: </label>
          <div class="input-container">
            <input type="password" id="password" formControlName="password" pPassword class="input-error">
            <div *ngIf="
        loginForm.controls['password'].invalid && loginForm.controls['password'].touched
      " class="error-message">
              The password field is required.
            </div>
          </div>
        </div>

        <div class="forgot-password-link"> <a id="forgot" href="/email" data-bs-toggle="modal"
            data-bs-target="#exampleModal" class="font-weight-bold" name="email" (click)="forgotPassword()">Forgot
            password?</a>
        </div>

        <div class="register-link">
          <p>Don't have an account? <a (click)="navigateToRegistration()" class="register-link">Sign Up</a></p>
        </div>

        <p-button type="submit" [disabled]="loginForm.invalid">Login</p-button>
      </form>

    </div>
  </div>
</div>