// Define the primary color for your page
$primary-color: #007bff;

body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

h1 {
  font-size: 6rem;
  margin: 0;
  padding-top: 10%;
  color: $primary-color;
}

p.error-message {
  font-size: 1.5rem;
  margin-top: 20px;
  color: #333;
}
