<!-- 
    @author: UDAY SONI
    Created on: July 13, 2023
    Note: Design for create a error 404 Page. 
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
</head>

<body>
  <h1>Page Not Found</h1><br>
  <p class="error-message">The page you are looking for cannot be found.</p>
  <div class="card flex justify-content-center">
    <p-button label="Cancel" (click)="cancel()"></p-button>
  </div>
</body>

</html>