<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Confirm Password</div>
          <div class="card-body">
            <p></p>
            <form [formGroup]="confirmForm" (ngSubmit)="confirmPassword()">
              <div class="row mb-3">
                <label for="password" class="col-md-4 col-form-label text-md-end">Password</label>
                <div class="col-md-6">
                  <input id="password" type="password" pPassword class="form-control" formControlName="password" required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="confirmPassword" class="col-md-4 col-form-label text-md-end">Confirm Password</label>
                <div class="col-md-6">
                  <input id="confirmPassword" type="password" pPassword class="form-control" formControlName="confirmPassword" required>
                  <div *ngIf="confirmForm.get('password')?.invalid && (confirmForm.get('password')?.dirty || confirmForm.get('password')?.touched)" class="invalid-feedback">
                    <strong>Password is required.</strong>
                  </div>
                  <div *ngIf="confirmForm.hasError('passwordMismatch') && (confirmForm.get('confirmPassword')?.dirty || confirmForm.get('confirmPassword')?.touched)" class="invalid-feedback">
                    <strong>Passwords do not match.</strong>
                  </div>
                </div>
              </div>
              <div class="col-md-8 offset-md-4 text-center">
                <button type="submit" class="btn btn-primary" [disabled]="confirmForm.invalid || confirmForm.hasError('passwordMismatch')">
                  Confirm Password
                </button>
              </div>              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
