<!-- 
    @author: UDAY SONI
    Created on: July 29, 2023
    Note: Design for soft-deleted projects found reactive Page. 
-->
<h2>Soft-Deleted Projects</h2>
<div class="container">
  <div *ngIf="isLoading">
    <p>Loading...</p>
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="softDeletedProjects">
      <div *ngIf="softDeletedProjects.length === 0">
        <p>No soft-deleted projects found.</p>
      </div>
      <p-toast [baseZIndex]="10000" [style]="{ marginTop: '100px' }"></p-toast>
      <div class="card flex flex-column gap-3">
        <div class="flex align-items-center justify-content-center">

        <div class="flex align-items-center justify-content-end">
            <span class="mx-1 text-color">Items per page: </span>
            <p-dropdown [options]="options" optionLabel="label" optionValue="value" [(ngModel)]="rows2" (ngModelChange)="first2 = 0"></p-dropdown>
            <p-paginator [first]="first2" [rows]="rows2" [totalRecords]="120" (onPageChange)="onPageChange2($event)" [showCurrentPageReport]="true" 
                currentPageReportTemplate="{first} - {last} of {totalRecords}" [showPageLinks]="false" [showFirstLastIcon]="false"></p-paginator>
        </div>
        <p-divider></p-divider>
        <ul>
          <li *ngFor="let project of softDeletedProjects">
            <div>{{ project.name }}</div>
            <div>{{ project.description }}</div>
            <div>{{ project.start_date }}</div>
            <div>{{ project.end_date }}</div>
            <div>{{ project.status }}</div>
            <p-button (onClick)="restoreProject(project.id)">Restore</p-button>
          </li>
        </ul>
      <div class="flex-1">
          <p-paginator (onPageChange)="onPageChange1($event)" [first]="first1" [rows]="rows1" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]" [showFirstLastIcon]="false"></p-paginator>
      </div>
  </div>

    </div>
    <!-- <p-table #table [value]="softDeletedProjects" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5">
      <div *ngIf="softDeletedProjects.length > 0">
        <ul>
          <th pSortableColumn="name">name<p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="description">description<p-sortIcon field="description"></p-sortIcon></th>
          <th pSortableColumn="start_date">start_date<p-sortIcon field="start_date"></p-sortIcon></th>
          <th pSortableColumn="end_date">end_date<p-sortIcon field="end_date"></p-sortIcon></th>
          <th pSortableColumn="status">status<p-sortIcon field="status"></p-sortIcon></th>
          <th>SOFT DELETE</th>
        </ul>
        <ul>
          <li *ngFor="let project of softDeletedProjects">
            <div>{{ project.name }}</div>
            <div>{{ project.description }}</div>
            <div>{{ project.start_date }}</div>
            <div>{{ project.end_date }}</div>
            <div>{{ project.status }}</div>
            <p-button (onClick)="restoreProject(project.id)">Restore</p-button>
          </li>
        </ul>
      </div>
      </p-table> -->
    </div>
  </div>
