<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    body {
      background-color: white;
    }

    .container {
      text-align: center;
    }
    card{
      margin-bottom: 50px;
    }
  </style>
  <title>PROJECT MANAGEMENT SYSTEM</title>
</head>

<body>
  <div class="container">
    <h1>PROJECT MANAGEMENT SYSTEM</h1>
    <div class="card">
      <p-tabMenu [model]="items"></p-tabMenu>
    </div>
    <router-outlet></router-outlet>
  </div>
</body>

</html>