<!-- 
    @author: UDAY SONI
    Created on: July 29, 2023
    Note: Design for soft-deleted projects found reactive Page. 
-->
<h2>Soft-Deleted Projects</h2>
<div class="container">
  <div>
    <div *ngIf="softDeletedProjects">
      <div *ngIf="softDeletedProjects.length === 0">
        <p>No soft-deleted projects found.</p>
      </div>
      <p-toast [baseZIndex]="10000" [style]="{ marginTop: '100px' }"></p-toast>
      <!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"></mat-paginator> -->
      <div class="card flex flex-column gap-3">
        <div class="loading-container" *ngIf="loading">
          <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
        <div class="button-container">
          <p-button label="Cancel" (click)="cancel()"></p-button>
        </div>
        <div class="flex align-items-center justify-content-center">
          <p-table [value]="softDeletedProjects" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="start_date">Start Date<p-sortIcon field="start_date"></p-sortIcon></th>
                <th pSortableColumn="end_date">End Date<p-sortIcon field="end_date"></p-sortIcon></th>
                <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
                <th>Restore</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-project>
              <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ displayNA(project.description) }}</td>
                <td>{{ project.start_date }}</td>
                <td>{{ project.end_date }}</td>
                <td>{{ project.status }}</td>
                <td><p-button (onClick)="restoreProject(project.id)">Restore</p-button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
